:root {
    --arcadia-logo-size: 2rem;
    /* Colors */
    --arcadia-black: #09090a;
    --arcadia-black-50: #09090a7f;
    --arcadia-black-20: #09090a33;
    --arcadia-white: #ffffff;
    --arcadia-white-50: #ffffff7f;
    --arcadia-white-20: #ffffff33;
    --arcadia-aegean: #5088C5;
    --arcadia-amber: #F28360;
    --arcadia-seaweed: #3B9886;
    --arcadia-canary: #F7B846;
    --arcadia-aster: #7A77AB;
    --arcadia-rose: #F898AE;
    --arcadia-vital: #73B5E3;
    --arcadia-tangerine: #FFB984;
    --arcadia-lime: #97CD78;
    --arcadia-dragon: #C85152;
    --arcadia-oat: #F5E4BE;
    --arcadia-wish: #BABEE0;
    --arcadia-sky: #C6E7F4;
    --arcadia-dress: #F8C5C1;
    --arcadia-taupe: #DBD1C3;
    --arcadia-denim: #B6C8D4;
    --arcadia-sage: #B5BEA4;
    --arcadia-marine: #8A99AD;
    --arcadia-mars: #DA9085;
    --arcadia-shell: #EDE0D6;
    --arcadia-gray: #EBEDE8;
    --arcadia-chateau: #BAB0A8;
    --arcadia-bark: #8F8885;
    --arcadia-slate: #43413F;
    --arcadia-charcoal: #484B50;
    --arcadia-crow: #292928;
    --arcadia-forest: #596F74;
    --arcadia-pitch: #09090A;
    --arcadia-parchment: #FDF8F2;
    --arcadia-zephyr: #F4FBFF;
    --arcadia-lichen: #F7FBEF;
    --arcadia-dawn: #F8F4F1;
    --arcadia-concord: #341E60;
    --arcadia-brightgray: #EAEAEA;
    --arcadia-paper: #FCFCFC;
    --arcadia-redwood: #52180A;
    --arcadia-depths: #09473E;
    --arcadia-soil: #4D2500;
    --arcadia-umber: #A85E28;
    --arcadia-parchment: #FDF8F2;
    --arcadia-heather: #A96789;
    --arcadia-tumbleweed: #E9A482;
    --arcadia-wheat: #F5DFB2;
    --arcadia-shire: #4E7F72;
    --arcadia-topaz: #FFCC7B;
    --arcadia-space: #282A49;
    --arcadia-butter: #FFFDBD;
    --arcadia-terracotta: #964222;
    --arcadia-blush: #FFF3F4;
    --arcadia-lilac: #6862AB;
    --arcadia-ghost: #FCF7FF;
    --arcadia-white: #FFFFFF;
    --arcadia-red: #FF0000;
    --arcadia-green: #00FF00;
    --arcadia-blue: #0000FF;
    --arcadia-cyan: #00FFFF;
    --arcadia-magenta: #FF00FF;
    --arcadia-yellow: #FFFF00;
    --arcadia-black: #000000;
    --arcadia-dusk: #094468;
    --arcadia-lapis: #2B65A1;
    --arcadia-cinnabar: #9E3F41;
    --arcadia-melon: #FFD0B0;
    --arcadia-mustard: #D68D22;
    --arcadia-sun: #FFD364;
    --arcadia-tanzanite: #54448C;
    --arcadia-iris: #DCDFEF;
    --arcadia-asparagus: #2A6B5E;
    --arcadia-teal: #6FBCAD;
    --arcadia-glass: #C3E2DB;
    --arcadia-azalea: #C14C70;
    --arcadia-candy: #E2718F;
    --arcadia-putty: #FFE3D4;
    --arcadia-mud: #635C5A;
    --arcadia-stone: #EDE6DA;
    --arcadia-steel: #687787;
    --arcadia-cloud: #ABBAC4;
    --arcadia-dove: #CAD4DB;
    --arcadia-ice: #E6EAED;
    --arcadia-yucca: #1E4812;
    --arcadia-fern: #47784A;
    --arcadia-matcha: #71AC5A;
    --arcadia-edamame: #C1E1AE;
    /* Fonts */
    --nb-header-font-family: "Georgia";
    --nb-header-font-weight: 100;
    --nb-h1-font-size: 2.5rem;
    --nb-h2-font-size: 2rem;
    --nb-toc-title-font-size: 1.2rem; 
    --nb-main-text-font-family: "Helvetica Neue";
    --nb-banner-title-font-family: 'Helvetica Neue'; 
    --bs-code-color: var(--arcadia-dusk);
    --bs-code-bg-color: #f6f6f6;
    --bs-code-border-color: #e6e6e6;
    --bs-code-left-border-color: #003B4F99;
    --bs-link-color-rgb: var(--arcadia-dusk);
    /* Callouts */
    --callout-note-rgb: var(--arcadia-aegean);
    --callout-warning-rgb: var(--arcadia-mustard);
    --callout-important-rgb: var(--arcadia-dragon);
    --callout-tip-rgb: var(--arcadia-teal);
    --callout-caution-rgb: var(--arcadia-tumbleweed);
}

.navbar {
    --bs-navbar-brand-padding-y: 1rem;
    --bs-nav-link-font-size: 1.2rem;
    background-color: var(--arcadia-white) !important;
}

.navbar-nav .nav-item {
    margin: 0 0.25rem;
}

.menu-text {
    position: relative;
    display: inline-block;
    font-family: var(--nb-header-font-family);
    max-width: 40vw;
}

.menu-text::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-text:hover::after {
    opacity: 1;
}

li.nav-item.dropdown {
    display: flex;
    align-items: center;
}

[aria-labelledby="nav-menu-iconify-qlementine-iconsversion-control-16-"].dropdown-menu {
    top: 100%;
    transform: none;
    margin-top: 0.3rem;  /* Add some spacing between icon and dropdown */
}

/* Padding around version icon */
#nav-menu-iconify-qlementine-iconsversion-control-16- {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.navbar-brand {
  position: relative;
  display: inline-block;
}

.navbar-logo {
  max-height: var(--arcadia-logo-size);
  width: auto;
  display: block;
}

.navbar-logo.video-logo {
  max-height: var(--arcadia-logo-size);
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 1;
  display: block;
}

.menu-text {
    color: var(--arcadia-black) !important;
}

.title-block-header {
    background-color: var(--arcadia-white) !important;
}

.quarto-title-banner {
    background-color: var(--arcadia-dusk) !important;
    margin: 0;
}

.quarto-title-banner h1 {
    color: var(--arcadia-white) !important;
    font-family: var(--nb-banner-title-font-family) !important;
    font-weight: 100 !important; 
    font-size: 2.5rem;
}

.quarto-title-meta {
    background-color: var(--bs-code-bg-color);
    padding: 1em 2em 0em 2em;
    margin-top: 2rem;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
}

#quarto-header.headroom--pinned,
#quarto-header.headroom--not-top,
#quarto-header.headroom--not-bottom,
#quarto-header.fixed-top {
    border-bottom: 1.5px solid black;
}

.abstract {
    background-color: var(--bs-code-bg-color);
    padding: 1rem 2rem 1.5rem 2rem;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}

.abstract .block-title {
  margin-bottom: 0.2rem;
  margin-top: 0 !important;
}

.abstract p {
  line-height: 1.6;
  margin: 0;
}


#toc-title {
  font-family: var(--nb-header-font-family);
  font-size: var(--nb-toc-title-font-size);
  font-weight: 150;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 2px solid var(--arcadia-dusk);
    color: var(--arcadia-dusk) !important;
    font-weight: 500;
}

.sidebar nav[role=doc-toc] ul>li>a:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    border-left: 2px solid var(--arcadia-forest);
    color: var(--arcadia-forest) !important;
    opacity: 0.8;  /* Makes it slightly faded */
    transition: all 0.2s ease;  /* Smooth transition */
}

/* match striped table off-color with code background color */
.table {
    --bs-table-striped-bg: var(--bs-code-bg-color);
}


h1, h2 {
    font-family: var(--nb-header-font-family) !important;
    font-weight: var(--nb-header-font-weight) !important; 
    color: var(--arcadia-black);
}

h3 {
    font-family: var(--nb-main-text-font-family) !important;
    font-weight: 400 !important; 
} 

h2 {
    font-size: var(--nb-h2-font-size);
}

h1 {
    font-size: var(--nb-h1-font-size);
}

#quarto-appendix.default .quarto-appendix-heading {
    font-size: var(--nb-h2-font-size) !important;
}

/* Add small vspace between paragraphs of a multi-paragraph footnote */
.column-margin.column-container [id^="fn"] > p + p {
  margin-top: 0.5em !important;
}
/* Space after last paragraph */
.column-margin.column-container [id^="fn"] > p:last-child {
  margin-bottom: 1.5em !important;
}

.quarto-figure-center>figure>p, .quarto-figure-center>figure>div {
    text-align: left;
}

body {
    font-family: var(--nb-main-text-font-family);
    color: var(--arcadia-black);
}

/* Defines code background */
.code-annotation-gutter, .code-annotation-gutter-bg {
    background-color: var(--bs-code-bg-color) !important;
}
div.sourceCode {
    background-color: var(--bs-code-bg-color) !important;
    border-radius: 4px;
    border-style: inset;
    border: 1px solid var(--bs-code-border-color);
    padding: 0.6em;
    padding-left: 0.2em;
    position: relative;  /* For absolute positioning of pseudo-element */
}

div.sourceCode::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--bs-code-border-color);
    transition: width 0.2s ease,
                background-color 0.2s ease;
}

div.sourceCode:hover::before {
    width: 5px;
    background-color: var(--bs-code-left-border-color);
}

/* Force CSS grid to contain figures according to their column specs */
.page-columns .column-body,
.page-columns .column-body-outset,
.page-columns .column-body-inset,
.page-columns .column-page,
.page-columns .column-page-inset,
.page-columns .column-page-outset,
.page-columns .column-screen,
.page-columns .column-screen-inset {
    width: 100%;
    height: auto;
}

body .page-columns {
    display: grid;
    gap: 0;
    grid-template-columns: [screen-start] 1.5em [screen-start-inset] 3fr [page-start page-start-inset] min(450px, 8vw) [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc(850px - 3em)) [body-content-end] 1.5em [body-end] 35px [body-end-outset] minmax(75px, 145px) [page-end-inset] min(450px, 8vw) [page-end] 3fr [screen-end-inset] 1.5em [screen-end];
}

/* Callout colors */
div.callout-note.callout {
    border-left-color: var(--callout-note-rgb);
}
div.callout-note.callout-style-default>.callout-header {
    background-color: rgb(from var(--callout-note-rgb) r g b / 0.1);
}
div.callout-warning.callout {
    border-left-color: var(--callout-warning-rgb);
}
div.callout-warning.callout-style-default>.callout-header {
    background-color: rgb(from var(--callout-warning-rgb) r g b / 0.1);
}
div.callout-important.callout {
    border-left-color: var(--callout-important-rgb);
}
div.callout-important.callout-style-default>.callout-header {
    background-color: rgb(from var(--callout-important-rgb) r g b / 0.1);
}
div.callout-tip.callout {
    border-left-color: var(--callout-tip-rgb);
}
div.callout-tip.callout-style-default>.callout-header {
    background-color: rgb(from var(--callout-tip-rgb) r g b / 0.1);
}
div.callout-caution.callout {
    border-left-color: var(--callout-caution-rgb);
}
div.callout-caution.callout-style-default>.callout-header {
    background-color: rgb(from var(--callout-caution-rgb) r g b / 0.1);
}

/* Footer styling */
.footer {
    background-color: var(--arcadia-charcoal) !important;
    padding: 2rem;
    margin-top: 4rem;
}
